
.main-div{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: aqua; 
  align-items: center;
}
.center-div{
  width: 50vh;
  height: 70vh;
  background-color: green;
  box-shadow: 5px 5px 25px -5px rgba(0,0,0,0);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  

}
.newBtn{
  height: 60px;
  width: 40px;
  color: aqua;
  background-color: black;
  border-radius: 100px;

}
.newBtn :hover{
  height: 60px;
  width: 60px;
  color: black;
  background-color: yellow;
  border-radius: 100px;
  
}
.todo-style{
  display: flex;
  text-align: right;  
}
.inputbut{
  display: flex;  
}
.inputdata{
  background-color: yellowgreen;
  border: none;
  box-sizing: none;
  margin-right: 10%;
  
}